#src {
    width: 100%;
}

#output .line {
    cursor: pointer;
}

#review .well {
    padding: 5px 10px;
}
#review .comment {
    height: 1.2em;
}

#review .well p {
    margin: 3px;
}

#review .post {
    text-align: right;
}